html {
	overflow-x:hidden;
}

nav {
	height:8vh;
	padding:0;
}

.infoDiv {
	position:relative;
	width:70vw;
	height:15vh;
	left:15vw;
	background-color:pink;
	margin-top:3vh;
	border:solid 2px black;
	border-radius:5px;
}

.infoDiv .userPic {
	position:absolute;
	top:0;
	left:0;
	width:15%;
	height:100%;
	background-size:contain;
	background-position:left;
	background-repeat:no-repeat;
}

.infoDiv .userName {
	margin:0;
	position:absolute;
	top:5%;
	left:18%;
}

.infoDiv .userStatus {
	margin:0;
	position:absolute;
	top:35%;
	left:21%;
	width:50%;
}

#add-channel {
	position:absolute;
	width:50vw;
	left:5vw;
	top:.8vw;
	margin:0;
}

#sort-buttons {
	position:absolute;
	left:65vw;
	top:.8vw;
	margin:0;
}

#sort-all {
	border-top-left-radius:4px;
	border-bottom-left-radius:4px;
	border-top-right-radius:0;
	border-bottom-right-radius:0;
}

#sort-online {
	border-top-right-radius:0;
	border-bottom-right-radius:0;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
}

#sort-offline {
	border-top-left-radius:0;
	border-bottom-left-radius:0;
}

#result-container {
	position:absolute;
	width:100vw;
	min-height:92vh;
	top:8vh;
	background-image:url('assets/twitch-tv.png');
	background-size:contain;
	background-position:center;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-color:#636;
}
